
body {
    font-family: 'Arial', sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    

  
    height: 200px;
    width: 1200px;
}

.flex-item {
    width: 150px;
    height: 150px;
    background-color: #54726e;
    margin: 10px;
    justify-content: space-evenly;
}

.navbar {
    display: flex;
    justify-content:space-between;
    background-color: #0e3920;
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 8px;
}

.footer {
    display: flex;
    justify-content: space-evenly;  
    background-color: #34495e;
    color: #ecf0f1;
    padding: 15px;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    
}

.grid-item {
    
    width: 450px;
    height: 70px;
    background-color: #ae8985;
    align-items: center;
    text-align: center;
   
}



